@charset "UTF-8";

.black-foot{
	margin : 0 auto; 
	display: flex; 
	background-color:  #000000;
}


.list-inline{
	margin : 0 auto;
	display : flex;
	justify-content: center;
	flex-wrap: wrap;

}


 .vacancy1{
 margin-top: 75px;
 }
 
  .vacancy2{
 margin-top: 25px;
 }