@charset "UTF-8";

.gallery_list{
	display : flex;
	justify-content: center;
	flex-wrap: wrap;
	width : 100%
	text-align: center;
}

.gallery_list .gall{
	margin-top : 10px;
	margin-bottom : 10px;
	width : 25%
	
}

.gallery_list img{
	width : 95%;
	filter: grayscale(1);
	border-radius: 10px;
	transition: all 1s; /* 동작 시간 */
}

.gallery_list img:hover{ /* 마우스 올리면 흑백에서 컬러 */
	width : 95%;
	filter: grayscale(0);
	border-radius: 10px;
	transform : scale(1.1,1.1); 
}

 .vacancy{
 margin-top: 120px;
 }
